* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #A6BCCA;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 60px;
  padding: 0px;
}

.navbar ul {
  margin: 0;
  height: 100%;
}

.navbar li {
  float: left;
  list-style-type: none;
  height: 100%;
  font-size: 16px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  padding-top: 20px;
  text-decoration: none;
  height: 100%;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #4867A0;
  color: #f2f2f2;
}

body {
  overflow-x: hidden;
}

/* Main content */
main {
  margin-top: 30px;
  background-color: #7C8DAB;
}

main h1 {
  position: absolute;
  top: 35px;
  left: 30px;
  font-size: 48px;
}

#banner_image {
  width: 100%;
  margin-top: 0px;
  height: 30vh;
  background-image: url("../images/german_sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  margin-bottom: 15px;
  box-shadow: none;
}

.card {
  margin: 20px 30px;
  background-color: beige;
  padding: 25px;
  box-shadow: 4px 4px 4px 0px #333;
}

#selfie{
  height: 250px;
  float: right;
  border: 2px solid black;
}

h3 {
  padding-bottom: 5px;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
}

.flexcontainer img {
  width: 100%;
  border: 2px solid black;
  margin-bottom: 10px;
}

#climbing_container {
  margin-left: 30px;
}

ul {
  list-style: none;
}

#ten_things {
  margin: 0px;
  padding-left: 15px;
}

#card_li {
  margin: 15px 0px;
  line-height: 18px;
}

#diary {
  padding-top: 50px;
  margin-right: 50px;
}

form p {
  padding-bottom: 5px;
}

form textarea {
  width: 100%;
  padding: 4px 10px;
}

button {
  display: block;
}

footer {
  min-height: 150px;
  background-color: #40476D;
}

.fade_rule {
        height: 2px;
        background-color: #000;
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(left , #7F84AB 2%, black 50%, #7F84AB 98%);
        background-image: -o-linear-gradient(left , #7F84AB 2%, black 50%, #7F84AB 98%);
        background-image: -moz-linear-gradient(left , #7F84AB 2%, black 50%, #7F84AB 98%);
        background-image: -webkit-linear-gradient(left , #7F84AB 2%, black 50%, #7F84AB 98%);
        background-image: -ms-linear-gradient(left , #7F84AB 2%, black 50%, #7F84AB 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #7F84AB), color-stop(0.5, black), color-stop(0.98, #7F84AB) );
}

#contact_info {
  background: transparent;
  border:  none;
  color: lightgrey;
  box-shadow: none;
  line-height: 20px;
}

#phone {
  margin-bottom: 5px;
}

#email_link {
  color: lightgrey;
}

#time_stamp {
  font-size: 11px;
  color: lightgrey;
  position: absolute;
  bottom: 0;
  right: 20px;
}
