<!-- extends will inherit all code from the base
Use content blocks to overwrite sections -->
{% extends 'base.html' %}



{% block app_content %}
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div id="banner_image" class="card">
        <h1>Nathaniel I. Scholnick</h1>
      </div>
    </div>
  </div> <!-- Name + Banner -->

  <div class="row"> <!-- main content -->
    <div class="col-md-8 offset-md-2">
      <div class="row"> <!-- Personality -->
        <div class="col-md-12">
          <div class="card">
            <div id="personality_text">
              <h3>Personality</h3>
              <p><img id="selfie" src="../static/media/images/ezoo_crew.jpg" alt="A picture of me">My Myers-Briggs personality type is ENTP. In simple language, that's sociable, technically minded, competitive, and down for anything. If not, I suppose the assessment wasn't all too accurate. I am very confident, which I think is one of the most attractive things about me. That doesen't go without a sparing moment of insufferable hubris too though. My friends sit dearly in my heart and institutions oppositely. I couldn't care less about my nationality, alma mater, or hometown sports teams. For reference, I'm the one in the middle of the photo to the right.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <!-- Athletics + Academics -->
        <div class="col-md-6">
          <div class="card">
            <h3>Athletic Passions, Chronologically</h3>
              <div class="flexcontainer">
                <div>
                  <ul>
                    <li id="card_li">Karate</li>
                    <li id="card_li">Soccer</li>
                    <li id="card_li">Distance Running</li>
                    <li id="card_li">Table Tennis</li>
                    <li id="card_li">Weight Lifting</li>
                    <li id="card_li">Climbing</li>
                  </ul>
                </div>
                <div id="climbing_container">
                  <img src="../static/media/images/climbing.jpg" alt="Image failed to load.">
                </div>
              </div>
            <p>I have also spent significant time with ultimate, cycling, and basketball, but never the same singular focus of the others listed above.</p>
            <p>As of now, as is indicated by the photo, climbing is my primary physical outlet. I am moderately obsessed, which I consider to be the gold standard for a hobby, and my approach is heavily improvement oriented. I have only climbed outdoors a half dozen times or so with my hardest send being 5.11d on lead. Indoors I have redpointed roughly 15 5.12s and perhaps 5 V8s, although this is quite muddled with climbing grade's high variance. My long term goal for now is 5.13a outdoors.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <h3>A Glimpse of my Academic Past</h3>

            <p>I composed this list of ten things that I believe or believe in as a "for fun" intro English assignment when I was 16. It does well to exemplify the seriousness with which I regard thought.</p>
            <ol id="ten_things">
              <li id="card_li">People are not created equal, but deserve to be treated as such until known otherwise.</li>
              <li id="card_li">Pride is not a sin; that is silly. However, being proud of inheritance is foolish.</li>
              <li id="card_li">People are rarely overloaded with work, but they’re often overwhelmed.</li>
              <li id="card_li">Humans created God to reconcile ideas greater than themselves.</li>
              <li id="card_li">Each individual only has partial control over their own life, but any control they lack in their life is made up for in the lives of others.</li>
              <li id="card_li">It is ideal to recognize flaws and try to improve them, but there is no shame in having them.</li>
              <li id="card_li">People will rise to high expectations. Contrarily, they’ll succumb to low ones.</li>
              <li id="card_li">To give anything less than your best is to sacrifice the gift.</li>
              <li id="card_li">Ideas and inventions do not need application to be validated. Art exists purely for its own beauty. Following this definition, art has extremely far reaching boundaries.</li>
              <li id="card_li">Myself</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
